/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://www.speakap.com/hs-fs/hubfs/images/website/Next%20Gen%20Website/Header%20images/bg-webinar.jpg?width=1440&name=bg-webinar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}